#content_div {
 font-size: 80%;
 background-color: #FFF;
}
.title {
    background-color: #E8EEF7;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    width:100%;
}
.grey {
    color:#888;
}

.container {
    padding-bottom : 10px;
    width:100%;
    text-align: center;
}
.nfr {
    background-color: #75a2ff;
    padding:2px 10px 2px 10px;
    margin:2px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family:Verdana;
    color:white;

}

.nfr a {
    text-decoration:none;
    color:white;
}

.footer {
    height:10px;
    clear:both;
    width:100%;
}

.size_1 {
    font-size:xx-small;
}
.size_2 {
    font-size:x-small;
}
.size_3 {
    font-size:small;
}
.size_4 {
    font-size:medium;
}
.size_5 {
    font-size:large;
}
.size_6 {
    font-size:x-large;
}
.size_7 {
    font-size:xx-large;
}