#content_div {
    height:800px;
}

circle.node {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
}
circle.node:hover {
    stroke: red !important;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

#header {
    float:right;
    border:1px solid black;
}

#header td {
    padding: 4px;
    font-size: 0.6em;
    font-weight: bold;
}