#content_div {
 font-size: 80%;
 background-color: #FFF;
}
 
.title {
 background-color: #E8EEF7;
 font-weight: bold;
 margin: 0;
 padding: 10px;
}
 
.jira-container {
    height:20px;
    width:100%;
    clear:left;
}

.jira-item {
    margin: 5px;
    float:left;
}

.jira-status {
    margin: 5px;
    margin-bottom: 0px;
    float:left;
    font-size:x-small;
    color:#222;
}
.bold {
    font-weight: bold;
}
.jira-item a {
 color: #0060BF;
 text-decoration: none;
}
 
.jira-item-date {
 color: #909090;
 font-size: x-small;
 text-align: right;
}
 
.jira-item-desc {
 color: #535353;
 font-size: small;
 padding: 0.5em;
}
 
.mmlib_table {
 background-color: #f7a545;
 color: white;
 font-size:large;
 padding: 5px;
 text-align: center;
}

.colorbox {
    height:15px;
    width:30px;
    border:1px solid #444;
    float:left;
    text-align: center;
}

.grey {
    color:#888;
}